.app__footer-form {
  width: 60%;
  flex-direction: column;
  padding: 1rem 2rem 2rem 1rem;

  div {
    width: 100%;
    margin: 0.75rem 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border-radius: 7px;
      border: none;
      border-bottom: 3px solid var(--secondary-color);
      background-color: var(--primary-color);
      outline: none;
      font-size: 1rem;
      &:hover {
        border-bottom: 3px solid rgb(96, 95, 105);
        color: rgb(96, 95, 105);
      }
    }
    textarea {
      height: 120px;
    }
  }
  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 500;
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }
}
