.app__header {
  position: relative;
  height: 100%;
  padding-left: 2.7rem;
  .app__wraper {
    padding: 0;
    .copyright {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    padding-left: 0rem;
  }
}

.app__header-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__header-badge {
  padding: 3vw;
  .tag-cmp {
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    p {
      text-transform: uppercase;
      text-align: right;
    }
    @media screen and (max-width: 1200px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  span {
    font-size: 2.5rem;
    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  @media screen and (max-width: 350px) {
    p {
      font-size: 0.8rem;
    }
  }
}
