.app {
  background-color: var(--primary-color);
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  opacity: 0.3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // position: fixed;
  // top: 80vh;
  // right: 50px;

  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--black-color);
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 1.1rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }

    svg {
      width: 30px;
      height: 30px;
      color: var(--gray-color);
    }

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  .app__navigation-dot {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .copyright {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    align-items: center;
  }
}
